.embedWrapper-lXpS3L {
  &.embedFull-2tM8-- {
    border-left: 0;
    background: var(--material-bg-tertiary);
    border-bottom: 3px solid var(--material-bg-tertiary-modal);
  }
  &.wrapperAudio-1jDe0Q {
    background: var(--material-bg-tertiary);
    border: 0;
  }
  &.attachment-33OFj0 {
    background: var(--material-bg-tertiary);
  }
}

.markup-2BOw-j {
  .scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9.hljs {
    background: var(--material-bg-tertiary);
    border: none;
  }
  .inline {
    background: var(--material-bg-tertiary);
  }
  .blockquoteDivider-2hH8H6 {
    background: var(--material-surface-primary-overlay-06dp);
  }
}

.spoilerText-3p6IlD.hidden-HHr2R9 {
  background: var(--material-bg-tertiary);
  &.hidden-HHr2R9:hover {
    background: var(--material-surface-primary-overlay-03dp);
  }
}

.wrapper-35wsBm.userSelectNone-Iy6XEP.cursorDefault-331ZcI {
  background: var(--material-bg-tertiary);
}
.invite-18yqGF.container-o3RxSG {
  background: var(--material-bg-tertiary);
  border: 0;
}