.bg-h5JY_x {
  background-color: var(--material-bg-main);
}

.withFrame-haYltI {
  background: var(--material-primary-dark);
  margin: 0;
  padding-top: 4px;
  z-index: 1;
  .wordmarkWindows-1v0lYD.wordmark-2iDDfm {
    svg {
      path {
        fill: var(--material-primary);
      }
    }
    
  }
}

.titleBar-AC4pGV .wordmark-2iDDfm::after {
    content: 'MATERIAL';
    color: var(--material-txt-input);
    position: absolute;
    font-weight: 700;
    font-size: 10px;
    font-style: normal;
}

.base-3dtUhz, .sidebar-2K8pFh, .chat-3bRxxu, .threadSidebar-1o3BTy  {
  overflow: visible;
}