.bg-h5JY_x {
  background-color: var(--material-bg-main);
}

.withFrame-haYltI {
  background: var(--material-primary-dark);
  margin: 0;
  padding-top: 4px;
  .wordmarkWindows-1v0lYD.wordmark-2iDDfm {
    svg {
      path {
        fill: var(--material-primary);
      }
    }
  }
}

.base-3dtUhz, .sidebar-2K8pFh, .chat-3bRxxu, .threadSidebar-1o3BTy  {
  overflow: visible;
}